@model product__easy_learn_.Models.RegisterModel
@{ 
    Layout = null;
}


<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-rtl.css">
    <link rel="stylesheet" href="~/css/customcss/style.css">
    <link rel="stylesheet" href="~/css/fontawesome/css/all.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
<body>
    <!----- Start sign up box ----->
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-lg-7 col-xl-6 col-md-9 register">

                <div class="card my-5">

                    <div class="card-body">
                        <h5 class="shadow-sm text-center mb-4 py-3"> عضویت در سایت </h5>
                        <div asp-validation-summary="All"></div>
                        <form asp-action="Register" asp-controller="Account" method="post">

                            <div class="form-group">
                                <label for="name">  نام : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"><i class="fa fa-user align-middle"></i></span>
                                    </div>
                                    <input asp-for="@Model.FirstName" type="text" class="form-control" id="txt1" placeholder="نام خود را وارد کنید">
                                    <div id="div2" style="display:none;color:goldenrod">لطفا نام را وارد نمائید</div>
                                    
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">نام خانوادگی :</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"> <i class="fa fa-user align-middle"></i></span>
                                    </div>
                                    <input asp-for="@Model.LastName" id="ln" type="text" class="form-control" placeholder="نام خانوادگی خود را وارد کنید ">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""> ایمیل : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"> <i class="fa fa-envelope align-middle"></i></span>
                                    </div>
                                    <input asp-for="@Model.Email" id="em" type="email" class="form-control" placeholder=" ایمیل خود را وارد کنید">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="">نام کاربری : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"> <i class="fa fa-user-plus align-middle"></i></span>
                                    </div>

                                    <input asp-for="@Model.UserName" id="un" type="text" class="form-control" placeholder="نام کاربری خود را وارد کنید ">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""> رمز عبور : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"> <i class="fa fa-lock align-middle"></i></span>
                                    </div>

                                    <input asp-for="@Model.Password" id="ps" type="password" class="form-control" placeholder="رمز عبور خود را وارد کنید">

                                </div>
                            </div>

                            <div class="form-group">
                                <label for=""> تکرار رمز عبور : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"> <i class="fa fa-lock align-middle"></i></span>
                                    </div>
                                    <input asp-for="@Model.PasswordTwo" id="ps2" type="password" class="form-control" placeholder="رمز عبور خود را وارد کنید">

                                </div>
                            </div>

                            <button type="submit" id="sign" class="btn btn-primary btn-block rounded-pill custom-btn font-13 mt-4">ثبت نام</button>

                            <p class="text-center my-3 font-12 vazir">قبلا در سایت ثبت نام کرده اید ؟ <a asp-action="Login" asp-controller="Account" class="login vazir">وارد شوید</a></p>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!----- End sign up box ----->
   

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/myscript.js"></script>
    @*<script>
        alert("ddd");
        $.ajax({
            url: "/Account/Register",
            type: "Post",
            data: {FirstName: $("#name").val(),LastName: $("#ln").val(), Email: $("#em").val(),UserName: $("#un"),Password: $("#ps"),PasswordTwo: $("#ps2")},
            success: function (res) {
                if (res == model)
                {
                    swal({
                        icon: 'error',
                        title: 'Auto close alert!',
                        text: 'این نام کاربری در سیستم وجود دارد',
                        timer: 5000,
                    })
                }
            }
        })
    </script>*@
@*<script>
    function login() {
        if (document.getElementById("name").value == "") {
            // alert("نام کاربری را وارد نکرده اید");
            document.getElementById("div2").style.display = "block";
        }
        else {
            document.getElementById("div2").style.display = "none";
        }
</script>*@
    
</body>
</html>